<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zte.iparking.dao.UserDao">

    <resultMap type="User" id="rmf">
        <id property="id" column="id"/>
        <result property="plimit.id" column="lid"/>
        <result property="uname" column="uname"/>
        <result property="upwd" column="upwd"/>
        <result property="umoney" column="umoney"/>
        <result property="ucall" column="call"/>

        <association property="limit" javaType="Plimit">
            <id property="id" column="lid"/>
            <result property="llimit" column="llimit"/>
            <result property="ldiscount" column="ldiscount"/>
        </association>

    </resultMap>

    <!-- 新增一个用户 -->
    <!-- int insert(User user); -->
    <insert id="insert" parameterType="User" keyProperty="uid" useGeneratedKeys="true">
        INSERT INTO t_user(lid,uname,upwd,umoney,ucall)
        VALUES( #{plimit.lid},#{uname},#{upwd},#{umoney},#{ucall});
    </insert>

    <!-- 根据用户名查询某个用户 -->
    <!-- User selectByName(String name); -->
    <select id="selectByName" resultType="User">
        SELECT * FROM t_user WHERE uname = #{uname};
    </select>

    </mapper>